
    .calculator {
        margin: 20px auto;
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        color: white;
    }
    .result {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
    }
    .button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        color: white;
    }

    .container {
        background-color: black;
        height: 340px;
        width: 22%;
    }